@model datebook.Models.IndexModel
@{ViewBag.Title = "Index";}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2 class="hTaggar">datebook.com</h2>
            <div id="Loggin">
              @Html.ActionLink("Log In", "LogIn", "Home")
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="Create">
               <h1>@Html.ActionLink("Join now", "Register", "Home")</h1>
            </div>
            @*@<div id="pc"><img src="@Url.Content("~/pictures/pris.jpg")"><p>Cilla Chan, 30</p></div>
            <div id="mz"><img src="@Url.Content("~/pictures/Mark.jpg")"><p>Zack Markenberg, 31</p></div>*@
        </div>
    </div>
</body>
</html>




