@model datebook.Models.LogInModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>@Html.ActionLink("datebook.com", "Index", "Home", new { @class = "hTaggar" })</h2>
            <div id="Loggin">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(model => model.Username, new { @maxlength = "20", @class = "LogginBoxes", placeholder = "Username" })
                    @Html.ValidationMessageFor(model => model.Username)
                    @Html.PasswordFor(model => model.Password, new { @maxlength = "10", @class = "LogginBoxes", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                    <input type="submit" value="Log In" />
                    @Html.Raw(TempData["Error"])
                    }
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="IndexLoggin">
                @Html.ActionLink("Log In", "LogIn", "Home", new { @id = "LogginLink" })
            </div>
            <div id="IndexRegister">
                @Html.ActionLink("Join now", "Register", "Home", new { @id = "RegisterLink" })
            </div>
            <div id="exUserOne">
                <a href="@Url.Action("Profile", "Home", new { username = "cilla" })">
                    <img src="@Url.Content("~/pictures/pris.jpg")" />
                </a>
                <p>Cilla Chan, 30</p>
            </div>
            <div id="exUserTwo">
                <a href="@Url.Action("Profile", "Home", new { username = "zack"})">
                    <img src="@Url.Content("~/pictures/Mark.jpg")">
                </a>
                <p>Zack Markenberg, 31</p>
            </div>
        </div>
    </div>
</body>
</html>