@model datebook.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log out", "LogOut", "Home", new { @id = "LogOut" })
            }
            <h2 class="hTaggar">datebook.com</h2>
            <div id="IndexLoggin">
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="infoDiv">
                    <p>Logged in as: @Model.Username</p>
                    <br />
                    <p>Name: @Model.Name</p>
                    <p>Age: @Model.Age</p>
                    <p>Gender: @Model.Gender</p>
                    <p>Info: @Model.Info</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <p>Visible for search: @Model.visible</p>
                    <br />
                    <br />
                    @Html.ActionLink("Edit information", "Edit", "Home", new { @id = "Edit" })
            </div>
      
            <div id="friendsDiv">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Click to load friends", "Friend", "Home", new { @id ="LoadFriends"})
                }
              
                
            </div>
        </div>
    </div>
</body>
</html>





