@model datebook.Models.ProfileModel
@using Repositories.Repositories

@{  
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log out", "LogOut", "Home", new { @id = "LogOut" })
            }
            <h2>@Html.ActionLink("datebook.com", "Index", "Home", new {@class = "hTaggar"})</h2>
            <div id="loadFriendsDiv">
                @if (@Model.Username != ViewBag.CurrentUser)
                {
                    @Html.ActionLink("Profile", "Profile", "Home", new { username = ViewBag.CurrentUser }, new { @id = "linkStyles" })
                }
                else
                {
                    @Html.ActionLink("Friends", "Friend", "Home", new { @id = "linkStyles" })
                }
            </div>
            <div id="searchLinkDiv">
               @Html.ActionLink("Search for a profile", "SearchProfile", "Home", new { @id = "linkStyles" })
            </div>
            <div id="editLinkDiv">
                @if (@Model.Username == ViewBag.CurrentUser)
                {
                    @Html.ActionLink("Edit profile", "Edit", "Home", new { @id = "linkStyles" })
                }
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="infoDiv">
                    <p>Username: @Model.Username</p>
                    <p>Name: @Model.Name</p>
                    <p>Age: @Model.Age</p>
                    <p>Gender: @Model.Gender</p>
                    <p>Info: @Model.Info</p>
                    <br />
                    <br />
                    <p>Visible for search: @Model.visible</p>
                    <br />
                    @if(ViewBag.Relation != null && ViewBag.Relation.Accepted)
                    {<p>Friends with @Model.Username</p>}
                    else if (ViewBag.Relation != null && ViewBag.Relation.UserId != ViewBag.UserId && !ViewBag.Relation.Accepted)
                    { @Html.ActionLink("Accept friend", "AcceptFriend", "Home", new {userId = ViewBag.Relation.UserId, friendId = ViewBag.Relation.FriendId}, new { @id = "acceptFriendLink"})}
                    else if(ViewBag.Relation != null && !ViewBag.Relation.Accepted && ViewBag.Relation.UserId == ViewBag.UserId)
                    {<p>Friend request pending</p>}
                    else if (ViewBag.CurrentUser == @Model.Username)
                    {<br />}                                                                                                                                                                                                                                                                                                                                                                     
                    else if (ViewBag.CurrentUser != @Model.Username && ViewBag.Relation == null)
                    {@Html.ActionLink("Friend request !", "AddFriend", "Home", new { name = @Model.Username }, new { onclick = "return Confirmation()"})}                                                                                                                                
                    <br />
            </div>
            <div id="postDiv">
                <textarea id="taPost" maxlength="100"></textarea>
                <button onclick="Post()">Post</button>
            </div>
            <div id="wallDiv">
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        getPost();
    });

    function Confirmation() {
        alert("Friend request sent to @Model.Username")
    }

    function Post() {
        if (document.getElementById("taPost").value != "") {
            $.ajax({
                type: "POST",
                url: "/api/Post/Post",
                data: {
                    Post: document.getElementById("taPost").value,
                    PosterName: "@User.Identity.Name",
                    PostTo: "@Model.UserId"
                },
                cache: false,
                success: function () {
                    window.location.reload();
                }
            });

        }
        else { alert("Write something!"); }
    };

    function getPost() {
        $.ajax({
            type: "GET",
            url: "/api/Post/getPost",
            data: {
                userId : "@Model.UserId"
            },
            success: function (posts) {
                for (var item in posts) {
                    var postmodel = posts[item];
                    var html = '<p>' + postmodel.Post +  '<br/>Posted by : ' + postmodel.PosterName + '</p><br />';
                    $("#wallDiv").prepend(html);
                }
            }
        });
    };
</script>