@model datebook.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <p>Name: @Model.Name</p>
    <p>Username: @Model.Username</p>
    <p>Age: @Model.Age</p>
    <p>Gender: @Model.Name</p>

</div>

@Html.ActionLink("Tillbaka till startsidan", "Index", "Home")

