@model datebook.Models.ProfileModel
@{  
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="wrapper">
        <div id="header">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log out", "LogOut", "Home", new { @id = "LogOut" })
            }
            <h2 class="hTaggar">datebook.com</h2>
            <div id="loadFriendsDiv">
                @if (@Model.Username != ViewBag.CurrentUser)
                {
                    @Html.ActionLink("Profile", "Profile", "Home", new { username = ViewBag.CurrentUser }, new { @id = "linkStyles" })
                }
                else
                {
                    @Html.ActionLink("Friends", "Friend", "Home", new { @id = "linkStyles" })
                }
            </div>
            <div id="IndexLoggin">
            </div>
            <div id="searchLinkDiv">
               @Html.ActionLink("Search for a profile", "SearchProfile", "Home", new { @id = "linkStyles" })
            </div>
            <div id="editLinkDiv">
                @if (@Model.Username == ViewBag.CurrentUser)
                {
                    @Html.ActionLink("Edit profile", "Edit", "Home", new { @id = "linkStyles" })
                }
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="infoDiv">
                    
                    <p>Name: @Model.Name</p>
                    <p>Age: @Model.Age</p>
                    <p>Gender: @Model.Gender</p>
                    <p>Info: @Model.Info</p>
                    <br />
                    <br />
                    <p>Visible for search: @Model.visible</p>
                    <br />
                    @if((bool)ViewData["Friends"] == true)
                    {
                        <p>Friends with @Model.Username</p>
                    }
                    else if((bool)ViewData["Friends"] == false)
                    {
                        <p>Send friend request</p>
                    }
            </div>
            <div id="postDiv">
                <textarea id="taPost" maxlength="150"></textarea>
                <input type="button" value="Post">
            </div>
            <div id="wallDiv">
                <p>WallDiv</p>
            </div>
        </div>
    </div>
</body>
</html>



