@using Register
@using System.Runtime.Versioning
@model datebook.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>@Html.ActionLink("datebook.com", "Index", "Home", new { @class = "hTaggar" })</h2>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="IndexLoggin">
                @Html.ActionLink("Log In", "LogIn", "Home", new { @id = "LogginLink" })
            </div>
            <div id="IndexRegister">
                @Html.ActionLink("Join now", "Register", "Home", new { @id = "RegisterLink" })
            </div>
            <div id="Register">
                <h1>Join now!</h1>
                @using (Html.BeginForm())
                {
                    <div id="langDiv">
                        @Html.ActionLink("Svenska", "Language", "Home", new { chosenLanguage = "sv" }, null)
                        @Html.ActionLink("English", "Language", "Home", new { chosenLanguage = "en" }, null)
                    </div>
                   <h3>@Html.ValidationSummary(true, "Registration failed, please re-check the fields")</h3>
                    @Html.TextBoxFor(model => model.Name, new {@maxlength="20", @class = "RegisterBoxes" , placeholder = @Register.Name })<br>
                    @Html.TextBoxFor(model => model.Username, new {@maxlength="20", @class = "RegisterBoxes", placeholder = @Register.Username })
                    @Html.ValidationMessageFor(model => model.Username)<br>
                    @Html.DropDownList("Gender", new List<SelectListItem> {
                    new SelectListItem {Text = @Register.Male, Value= "Male"},
                    new SelectListItem {Text = @Register.Female, Value= "Female"}
                    }, @Register.Gender)<br />
                    @Html.TextBoxFor(model => model.Age, new { @maxlength="2", @class = "RegisterBoxes", placeholder = @Register.Age })<br>
                    @Html.PasswordFor(model => model.Password, new { @maxlength="10", @class = "RegisterBoxes", placeholder = @Register.Password })
                    @Html.ValidationMessageFor(model => model.Password)<br>
                    @Html.DropDownList("Visible", new List<SelectListItem> {
                    new SelectListItem {Text = @Register.Yes, Value = "1"},
                    new SelectListItem {Text = @Register.No, Value ="0"}
                    }, @Register.Visible)
                    <br />
                    <br />
                    <input type="submit" value=@Register.Reg>
                    @Html.Raw(TempData["Error"])
                }
            </div>
            <div id="exUserOne">
                <a href="@Url.Action("Profile", "Home", new { username = "cilla" })">
                    <img src="@Url.Content("~/pictures/pris.jpg")" />
                </a>
                <p>Cilla Chan, 30</p>
            </div>
            <div id="exUserTwo">
                <a href="@Url.Action("Profile", "Home", new { username = "zack"})">
                    <img src="@Url.Content("~/pictures/Mark.jpg")">
                </a>
                <p>Zack Markenberg, 31</p>
            </div>
        </div>
    </div>
</body>
</html>