@model datebook.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2 class="hTaggar">datebook.com</h2>
            <div id="IndexLoggin">
                @Html.ActionLink("Log In", "LogIn", "Home", new { @id = "LogginLink" })
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="Register">
                <h1>Join now!</h1>
                @using (Html.BeginForm())
                {
                   <h3>@Html.ValidationSummary(true, "Registration failed, please re-check the fields")</h3>
                    @Html.TextBoxFor(model => model.Name, new { @class = "RegisterBoxes" , placeholder = "Name" })<br>
                    @Html.TextBoxFor(model => model.Username, new { @class = "RegisterBoxes", placeholder = "Username" })
                    @Html.ValidationMessageFor(model => model.Username)<br>
                    @Html.DropDownList("Gender", new List<SelectListItem> {
                    new SelectListItem {Text = "Male", Value= "Male"},
                    new SelectListItem {Text = "Female", Value= "Female"}
                    }, "Select Gender")<br />
                    @Html.TextBoxFor(model => model.Age, new { @class = "RegisterBoxes", placeholder = "Age" })<br>
                    @Html.PasswordFor(model => model.Password, new { @class = "RegisterBoxes", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password)<br>
                    @Html.DropDownList("Visible", new List<SelectListItem> {
                    new SelectListItem {Text = "Yes!", Value = "1"},
                    new SelectListItem {Text = "No!", Value ="0"}
                    }, "Visible for search?")
                    <br />
                    <br />
                    <input type="submit" value="Register">
                }
            </div>
            @*@<div id="pc"><img src="@Url.Content("~/pictures/pris.jpg")"><p>Cilla Chan, 30</p></div>
                <div id="mz"><img src="@Url.Content("~/pictures/Mark.jpg")"><p>Zack Markenberg, 31</p></div>*@
        </div>
    </div>
</body>
</html>