@model datebook.Models.SearchModel

@{
    ViewBag.Title = "SearchProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Datebook.com</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="wrapper">
        <div id="header">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log out", "LogOut", "Home", new { @id = "LogOut" })
            }
            <h2>@Html.ActionLink("datebook.com", "Index", "Home", new {@class = "hTaggar"})</h2>
            <div id="backToProfileDiv">
                <h1>@Html.ActionLink("Profile", "Profile", "Home", new { @id = "linkStyles" })</h1>
            </div>
            <div id="IndexLoggin">
            </div>
            <div id="friendLinkDiv">
                <h1>@Html.ActionLink("Friends", "Friend", "Home", new { @id = "linkStyles" })</h1>
            </div>
            <div id="searchDiv">
                @using (Html.BeginForm("SearchProfile", "Home"))
                {
                    @Html.ValidationSummary(true, "Error field cannot be empty")
                    @Html.TextBoxFor(model => model.SearchString, new { @maxlength = "20", id = "checkSearchString" })
                    <input type="submit" id="btnSearch" value="Search" onclick="empty()" />
                    @Html.Raw(TempData["Error"])
                }
            </div>
        </div>
        <div id="divPicture">
            <img src="@Url.Content("~/pictures/couple.jpg")" id="couplepic" />
            <div id="searchResultDiv">
                @if (ViewData["Result"] != null)
                {
                    <h1>Result: @Html.ActionLink((string)ViewData["Result"], "Profile", "Home", new { username = ViewData["Result"] }, new {@id = "searchResult" })</h1>
                }
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function empty() {
        var x;
        x = document.getElementById("checkSearchString").value;
        if (x == "") {
            alert("Search field is empy");
            return false;
        };
    }
</script>

