@using datebook

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -Datebook.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        ChildActionExtensions.RenderAction(Html, "PendingRequests", "Home", new { username = User.Identity.Name });
        <div id="friendRequestDiv">
            @if (ViewBag.Request != null)
            {
                @Html.ActionLink("[" + (int)ViewBag.Request + "]", "Friend", "Home")
            }
        </div>
    }

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
   
</body>
</html>